.HomePage {
  color: white;
  padding-right: 10px;
  background-color: rgb(28, 28, 28);
  padding: 0px 0px 100px 0px;
}
.HomePage > h1 {
  margin: 25px 0px 0px 50px;
  font-size: 1.2rem;
}
.HomeCategories {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 10px;
  margin: 0px 50px 0px 50px;
}

.singleImg {
  padding: 0px 4px 0px 4px;
  transition: 0.2s ease-in;
}
.singleImg:hover {
  cursor: pointer;
  transform: scale(1.1);
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: rgb(28, 28, 28);
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: #9a9a9a;
  border-radius: 9px;
  border: 3px solid transparent;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  scrollbar-width: 15px;
}

.footerWrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-auto-flow: column;
  height: 100%;
  place-items: center;
  margin-bottom: 2%;
}
.footerWrapper .SocialBtn {
  display: inline-block;
  height: 60px;
  width: 60px;
  overflow: hidden;
  margin: 0 5px;
  background: transparent;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-out;
}
.footerWrapper .SocialBtn:hover {
  width: 200px;
}
.footerWrapper .SocialBtn .icon {
  display: inline-block;
  text-align: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-sizing: border-box;
  line-height: 60px;
}
.footerWrapper .SocialBtn:nth-child(1):hover .icon {
  background-color: #ffffff;
}
.footerWrapper .SocialBtn:nth-child(2):hover .icon {
  background-color: #ffffff;
}

.footerWrapper .SocialBtn:nth-child(3):hover .icon {
  background-color: #ffffff;
}

.footerWrapper .SocialBtn .icon img {
  font-size: 25px;
  line-height: 60px;
}

.footerWrapper .SocialBtn span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  padding-left: 25px;
  text-align: center;
  color: black;
}
