.HomePage {
  color: white;
  padding-right: 10px;
  background-color: rgb(28, 28, 28);
  padding: 0px 0px 100px 0px;
}
.HomePage > h1 {
  margin: 25px 0px 0px 50px;
  font-size: 1.2rem;
}
.HomeCategories {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 10px;
  margin: 0px 50px 0px 50px;
}

.singleImg {
  padding: 0px 4px 0px 4px;
  transition: 0.2s ease-in;
}
.singleImg:hover {
  cursor: pointer;
  transform: scale(1.1);
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: rgb(28, 28, 28);
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: #9a9a9a;
  border-radius: 9px;
  border: 3px solid transparent;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  scrollbar-width: 15px;
}
