.holeComments {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.commentList {
  background-color: rgb(190, 189, 189);
  color: black;
  width: 1000px;
}
hr {
  border-color: #e91e63;
}
.BtnSubmitComment {
  font-size: 1rem;
  border: none;
  display: block;
  margin: 10px auto;
  width: 100px;
  height: 25px;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 1px 8px 0;
}
.BtnSubmitComment:active {
  background-color: #7e7e7e9f;
}
