body {
  background-color: rgb(28, 28, 28);
  color: rgb(255, 244, 244);
  padding: 0;
  margin: 0;
}
.DetailPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0% 5% 5% 5%;
}
.DetailPage h1 {
  font-size: 3.5rem;
  text-align: center;
  justify-content: center;
}
.DetailParagraph {
  text-align: justify;
  justify-content: center;
}
.DetailImg {
  width: 0;
}

/*  Button  */
.bn31 {
  background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
  border-radius: 40px;
  box-sizing: border-box;
  color: #00a84f;
  height: 50px;
  font-size: 1.4em;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 5em;
  z-index: 2;
  }

.bn31:hover {
  color: #fff;
}
.bn31 .bn31span {
  align-items: center;
  background: #0e0e10;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: 0.5s ease;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bn31:hover .bn31span {
  background: transparent;
}
.center-detail-anime{
  text-align:center;
}
.flex-detail-anime{display:flex;
align-items: center ;
justify-content: center;
gap: 30px;}
