.HolePage {
  margin: 5% 8% 5% 8%;
  font-size: 1.4rem;
  box-sizing: border-box;
}

.HolePage h1 {
  text-align: center;
  font-size: 4.5rem;
}

.DetailImg {
  width: 390px;
  height: 554px;
}
.DetailList {
  margin: 2%;
}
.DetailList ul {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
.DetailList li {
  padding-top: 10px;
}
.DetailPage {
  display: flex;
  align-self: flex-start;
  flex-direction: row;
}

.BtnFav {
  background: whitesmoke;
  width: 10%;
  padding: 1%;
  border-radius: 15px;
  margin-top: 1%;
  transition: 0.5s ease-out;
  font-size: 1.5rem;
  border: none;
}

.BtnFav:hover {
  box-shadow: inset 300px 0 0 0 #e91e63;
}

.DetailSynopis {
  margin-top: 5%;
}
