::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: rgb(28, 28, 28);
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: #9a9a9a;
  border-radius: 9px;
  border: 3px solid transparent;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  scrollbar-width: auto;
}

.ContainerFavorite {
  box-sizing: border-box;
  display: inline-block;
  width: 470px;
  background-color: rgb(19, 18, 18);
  justify-content: space-around;
  text-align: center;
  margin: 3%;
  padding: 1%;
  border: 5px solid transparent;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 1);
  border-radius: 15px;
}

.BtnDelete {
  display: inline-block;
}
